@font-face {
    font-family: Roboto-700;
    src: url(../../../resources/fonts/Roboto/Roboto-Bold.ttf);
  }
  @font-face {
    font-family: Roboto-900;
    src: url(../../../resources/fonts/Roboto/Roboto-Black.ttf);
  }
  @font-face {
    font-family: Roboto-300;
    src: url(../../../resources/fonts/Roboto/Roboto-Regular.ttf);
  }
  @font-face {
    font-family: Roboto-500;
    src: url(../../../resources/fonts/Roboto/Roboto-Medium.ttf);
  }
  
  @font-face {
    font-family: Roboto-300;
    src: url(../../../resources/fonts/Roboto/Roboto-Light.ttf);
  }
  @font-face {
    font-family: Roboto-italic;
    src: url(../../../resources/fonts/Roboto//Roboto-Italic.ttf);
  }