/* color */
$color-white: #ffffff;
$color-dark: #000000;
$color-grey:#808080;
$color-gray: #4a4a4a;
$color-grayBold: #2a2a2a;
$color-grayThin : #2f3841;
$color-purple:#8e44ad;

/* font-size */

$large-title: 3.7rem;
$large-paragraph : 2rem;
$small-paragraph : 1.6rem;
$medium-title : 2.3rem;
$footer-title: 1.5rem;
$footer-titleItem: 1.9rem;


/*Responsive screen*/

$extra-small : 320px;
$small-desktop: 960px;
$large-desktop: 1200px;
$handheld: 768px;
$handhelds-landscape: 1024px;
$mobile: 640px;
$mobile-landscape: 480px;